<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="db_mainprojectConnectionString" connectionString="Data Source=DESKTOP-IO6V38C\MSSQL2014;Initial Catalog=db_mainproject;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="db_mainprojectConnectionString2" connectionString="Data Source=DESKTOP-IO6V38C\MSSQL2014;Initial Catalog=db_mainproject;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="db_mainprojectConnectionString3" connectionString="Data Source=DESKTOP-IO6V38C\MSSQL2014;Initial Catalog=db_mainproject;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="db_mainprojectConnectionString4" connectionString="Data Source=DESKTOP-IO6V38C\MSSQL2014;Initial Catalog=db_mainproject;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="db_mainprojectConnectionString5" connectionString="Data Source=DESKTOP-IO6V38C\MSSQL2014;Initial Catalog=db_mainproject;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None">
    </add>
  </appSettings>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
